@import "../../../styles/config/config.scss";

.herotext {
  font-size: 140px;
  line-height: 132px;
  margin: 0 176px;
  overflow: hidden;
}

.herotext span:nth-child(1) {
  color: var(--color-red);
}

.svgwrap {
  margin: 16px 0 0 456px;
  display: flex;
  justify-content: center;

  ul {
    margin-top: 0px;
    list-style: none;
    padding-left: 25px;
    li {
      color: var(--color-white);
      font-weight: 600;
    }
  }
}
