@import "../../../styles/config/config.scss";

.section {
  margin-top: 255px;
}

.header {
  position: relative;
  width: 35vw;
  margin: auto;
  &__text {
    font-size: 140px;
    line-height: 0.9;
  }
}

/* INDIVIDUAL WORK */


