@import "../../../styles/config/config.scss";

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  height: 58px;
  padding: 0 96px;
  &__link {
    position: relative;
    margin: 0 16px;
    font-weight: 600;
    font-size: 16px;
    transition: 0.5s;
    color: transparent;

    // &:hover {
    //   transform: scaleY(1.25);
    // }
    &:before,
    &:after {
      content: attr(data-text);
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      color: var(--color-white);
      padding: 5px 0;
      transition: 0.5s;
    }
    &::before {
      clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
    }
    &:hover:before {
      color: var(--color-white);
      transform: translate(0, -2px);
    }
    &::after {
      clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0 100%);
    }
    &:hover:after {
      color: var(--color-white);
      transform: translate(0, 2px);
    }
  }
}
