@import "../../../styles/config/config.scss";

.section {
  margin: 200px 100px;
}

.projInMind {
  font-size: 140px;
  line-height: 120%;
  margin-bottom: 0;
}

.letstalk {
  width: 72%;
  position: relative;
  color: var(--color-red);
  margin-top: 0;
  transition: 0.5s;
  font-size: 140px;
  line-height: 120%;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 15px;
    left: -100%;
    bottom: 0%;
    background-color: var(--color-red);
    transition: all 0.5s ease-in-out;
  }
  &:hover:before {
    transform: translateX(100%);
  }

  //   &:before,
  //   &:after {
  //     content: attr(data-text);
  //     position: absolute;
  //     width: 100%;
  //     top: 0;
  //     left: 0;
  //     padding: 5px 0;
  //     transition: 0.5s;
  //   }
  //   &::before {
  //     clip-path: polygon(0 0, 100% 0, 100% 56%, 0 56%);
  //   }
  //   &:hover:before {
  //     color: var(--color-red);
  //     transform: translate(12px, -6px);
  //   }
  //   &::after {
  //     clip-path: polygon(0 55%, 100% 55%, 100% 100%, 0 100%);
  //   }
  //   &:hover:after {
  //     color: var(--color-red);
  //     transform: translate(-12px, 6px);
  //   }
}
