p {
  @include fluid-type($min-width, $max-width, 16px, 18px);
  @include fluid-line($min-width, $max-width, 24px, 26px);
  @include fluid-letter($min-width, $max-width, 0.27px, 0.3px);
  color: var(--color-white);
}

h1,
h2,
h3,
h4 {
  font-family: var(--playfair);
  font-weight: 700;
  color: var(--color-white);
}

h1 {
  @include fluid-type($min-width, $max-width, 40px, 60px);
  @include fluid-line($min-width, $max-width, 42px, 62px);
  color: var(--color-white);
}

h2 {
  @include fluid-type($min-width, $max-width, 28px, 60px);
  @include fluid-line($min-width, $max-width, 36px, 48px);
  color: var(--color-white);
}

h3 {
  @include fluid-type($min-width, $max-width, 28px, 36px);
  @include fluid-line($min-width, $max-width, 37px, 48px);
  color: var(--color-white);
}

h4 {
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white);
}

blockquote {
  font-family: var(--playfair);
  @include fluid-type($min-width, $max-width, 21px, 28px);
  @include fluid-line($min-width, $max-width, 28px, 45px);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}
